upstream test {
{% for item in upstream.values() %}
server {{ item.server }};
{% endfor %}
{% for item in ansible_play_hosts_all %}
server {{ hostvars[item]['ansible_facts']['default_ipv4']['address'] }};
{% endfor %}
}
